<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
  <li><button id="hello">Hello</button></li>
  <li><input type="url" id="urlForm" placeholder="http://" /> <button id="openUrl">Open URL</button></li>
  <li><input type="text" id="latitude" placeholder="latitude" /> <input type="text" id="longitude" placeholder="longitude" /> <button id="openMap">Open Map</button></li>
  <li><input type="text" id="tel" placeholder="Phone Number" /> <button id="phoneCall">Phone Call</li>
  <li><input type="text" id="pbcopyForm" placeholder="Text" /> <button id="pbcopy">Copy to pasteboard</li>
</ul>
